.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // backdrop-filter: blur(10px);
  transition: backdrop-filter 2s, background-color 2s;
  height: 100%;
}

.App_blur {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.75);
  transition: backdrop-filter 2s, background-color 2s;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  // transition: backdrop-filter 2s;
}

.border {
  border: 1px solid;
  border-color: white;
  height: 90vh;
}

aside {
  text-align: right;
}


h1 {
  font-size: 100px;
}

@media only screen and (max-width: 479px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;

  }

  .border {
    border-bottom: 1px solid;
    border-color: white;
    height: 0;
    width: 100vw;
  }

}

