.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // backdrop-filter: blur(10px);
  transition: backdrop-filter 2s, background-color 2s;
}

.App_blur {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.75);
  transition: backdrop-filter 2s, background-color 2s;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
  // transition: backdrop-filter 2s;
}



aside {
  text-align: right;
}

.border {
  border: 1px solid;
  border-color: white;
  height: 100vh;
}